AP2/src/poema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="poema" type="poemaType"/>
  <xs:complexType name="poemaType">
    <xs:sequence>
      <xs:element type="xs:string" name="autor"/>
      <xs:element type="xs:string" name="título"/>
      <xs:element type="estrofeType" name="estrofe" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estrofeType">
    <xs:sequence>
      <xs:element type="xs:string" name="verso" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>